/* Header.module.css */

.header {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex-grow: 1;
}



.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 10px;
}

.nav-link {
  color: white;
  font-size: 2em;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.title {
  color: #fff;
  font-size: 24px;
}

.navbar {
  background: #FFC400;
}

/* Header.module.css */
/* ... previous styles ... */

.socialIcons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.socialIcon {
  display: flex;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  color: red;
  padding: 1px;
}

.socialIcon:hover {
  color:grey;
}

.socialIcon a {
  color: #000000;
}
